In [5]:
import pandas as pd
import plotly.express as px

In [6]:
url = 'http://api.open-notify.org/iss-now.json'

In [7]:
df = pd.read_json(url)

In [8]:
df

           message  iss_position           timestamp
latitude   success       51.6141 2022-01-29 13:27:10
longitude  success       60.9585 2022-01-29 13:27:10

In [11]:
df['latitude'] = df.loc['latitude', 'iss_position']
df['longitude'] = df.loc['longitude', 'iss_position']
df.reset_index(inplace=True)